// допустим наш заголовок по
// каким то причинам блочно-строчный inline-block
// тогда обернем его в отдельный div
// и дадим ему класс text-align-center
// к которому в разделе _utilities зададим 
// значение text-align-center   
.text-align-center
    text-align: center


.margin-bottom-10px
    margin-bottom: 1rem

.margin-bottom-30px
    margin-bottom: 3rem

.margin-bottom-50px
    margin-bottom: 5rem


.margin-bottom-80px
    margin-bottom: 8rem
